html {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  h2, h4, p {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  #card {
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  #top-section {
    width: 100%;
    padding: 25px;
  }
  
  #bottom-section {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  #bottom-left-section, #bottom-right-section {
    width: 100%;
    padding: 25px;
  }
  
  #bottom-left-section {
    background-color: #2ab2af;
  }
  
  #bottom-right-section {
    background-color: #2ebfbd;
  }
  
  #top-section h2 {
    color: #2ab2af;
    margin-bottom: 20px;
  }
  
  #top-section h4 {
    color: #c0df34;
    margin-bottom: 10px;
  }
  
  #top-section p {
    color: #98a6bd;
  }
  
  button {
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #a9c42d;
    transform: scale(1.02);
  }
  
  #price {
    font-weight: 700;
    font-size: 1.4rem;
  }
  
  #bottom-left-section h4 {
    margin-bottom: 25px;
  }
  
  #bottom-left-section p {
    font-size: 0.8rem;
    margin-bottom: 40px;
  }
  
  #price-frequency, #price {
    display: inline-block;
  }
  
  #price-frequency {
    position: relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
  }
  
  #price-container {
    margin-bottom: 10px;
  }
  
  ul {
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
  }
  
  @media screen and (min-width: 600px) {
    #card {
      height: 400px;
    }
  
    #bottom-section {
      flex-direction: row;
      height: 55%;
    }
  
    #bottom-left-section, #bottom-right-section {
      width: 50%;
    }
  
    #top-section {
      height: 45%;
    }
  }
